@import './base.css';

#app {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 0;

  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
  background-color: var(--color-background);
  color: var(--color-tex)t
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-background-soft);
  }
}
